[submodule "riskprovider-iovation/fraudforce"]
	path = riskprovider-iovation/fraudforce
	url = https://github.com/iovation/deviceprint-SDK-Android
[submodule "riskprovider-iovation/FraudForce"]
	path = riskprovider-iovation/FraudForce
	url = https://github.com/iovation/deviceprint-SDK-Android
